{% extends "base.html" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block content %}
    <h1>{{ data.title }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-meta">
                    {% if data.date_published %}
                        <div class="blog-byline">
                            {{ data.date_published }}
                        </div>
                    {% endif %}
                </div>

                {{ data.body }}
            </div>
        </div>
    </div>
{% endblock content %}
